﻿
 @using Formularios.Models;
 @using System.Web.UI.WebControls;
 @model Busqueda 
 @{     
        List<SelectListItem> listItems = new List<SelectListItem>
        {
            new SelectListItem { Text="Buscar por nombre", Selected=true, Value="0" },
            new SelectListItem {Text="Buscar por folio",Selected=true,Value="1" }
        };
 }
<div class="container-fluid" style="padding-top:30px">
    <div class="col-md-12">
        <form method="POST" id="formBusqueda">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        @Html.DropDownListFor(x => x.tipo, listItems)
                          <div class="input-group"  style="padding-top: 10px;">
                            @Html.HiddenFor(x => x.id, new { @style = "display:none" })
                            @Html.TextBoxFor(x => x.query, new { @class = "form-control", placeholder = "Inicia busqueda" })
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" value="Submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                 </div>
              </div>
          </div>
        </form>
        <!--Inicio de búsqueda-->
        @if (Model != null)
        {
            cliente c = (cliente)ViewBag.candidato;

            if (c != null)
            {
                <div class="col-md-6 col-sm-12 col-xs-12  contenedor-espacio">
                    <h2 class="md-title">Información cliente</h2>
                    <h3 class="md-subhead"><strong>Folio</strong></h3>
                    <h3 class="md-subhead">@c.folio</h3>
                    <h3 class="md-subhead"><strong>Nombre</strong></h3>
                    <h3 class="md-subhead">@c.nombre</h3>
                    <h3 class="md-subhead"><strong>Teléfono celular</strong></h3>
                    <h3 class="md-subhead">@c.tel_celular</h3>
                    <h3 class="md-subhead"><strong>Teléfono(s) opcionales</strong></h3>
                    <h3 class="md-subhead">@string.Format("{0} {1} {2} {3}",c.tel_1,c.tel_2 , c.tel_3 , c.tel_celular)</h3>
                 </div>
                 <div class="col-md-6 col-sm-12 col-xs-12  contenedor-espacio">
                     <h3 class="md-subhead"><strong>Canal</strong></h3>
                     <h3 class="md-subhead">@c.canal</h3>
                     <h3 class="md-subhead"><strong>Sucursal</strong></h3>
                     <h3 class="md-subhead">@c.sucursal</h3>
                     <h3 class="md-subhead"><strong>Código Postal</strong></h3>
                     <h3 class="md-subhead">@c.cp</h3>
                     <a class="btn btn-danger pull-left" href='@string.Format("http://promocionesfinancieraayudamos.com/pre-calificados/?folio={0}",@c.folio)'>INICIAR LLAMADA</a>
                 </div>
            }
            else
            {
                <span>Null cliente</span>
            }

        }
        else
        {
            <span>El model es null</span>
        }   
    </div>
</div>
   
